@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grey: #e5e5e5;
    --purple: #a17efa;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 2px;
}

html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}

h3 {
    font-size: 1.6rem;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    margin: 0;
}

p,
li {
    font-size: 1rem;
    margin: 0;
}

ul {
    padding-inline: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}